.modal-overlay {
  position: relative;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #ffffff;
  color: white;
  width: 750px;
  height: 750px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
  animation: modalFade 0.25s ease;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3{
    color: black;
}

.modal-header button {
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.modal-tabs button,
.view-switch button {
  margin-right: 6px;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: gray;
  color: #cbd5f5;
  cursor: pointer;
}

.modal-tabs .active,
.view-switch .active {
  background: #38bdf8;
  color: black;
}

.modal-content {
  flex: 1;
  margin-top: 12px;
  background: #020617;
  border-radius: 8px;
  padding: 12px;
}

.graph-placeholder,
.log-placeholder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
